<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.wst.server.ui.launchConfigurationType">
    <stringAttribute key="client-id" value="org.eclipse.wst.server.ui.web"/>
    <stringAttribute key="launchable-adapter-id" value="org.eclipse.jst.server.tomcat.web"/>
<<<<<<<< HEAD:.metadata/.plugins/org.eclipse.debug.core/.launches/_project_main.html.launch
    <stringAttribute key="module-artifact" value="org.eclipse.jst.jee.server:webpro///project/main.html"/>
========
    <stringAttribute key="module-artifact" value="org.eclipse.jst.jee.server:webpro///0508/배열메소드.html"/>
>>>>>>>> 9a9b839a653fa3472953bc43cc3e116084d34729:.metadata/.plugins/org.eclipse.debug.core/.launches/_0508_배열메소드.html.launch
    <stringAttribute key="module-artifact-class" value="org.eclipse.wst.server.core.util.WebResource"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/webpro"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <stringAttribute key="server-id" value="Tomcat v8.5 Server at localhost"/>
</launchConfiguration>
