<?xml version="1.0" encoding="UTF-8"?>
<!-- 이 문서는 mybatis에서 처리할 SQL문을 작성하는 문서입니다. -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
       "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="member">
   
    
    <select id="getAllMember" resultType="memVo">
    	select * from mymember
    </select>
    
    
    <!-- 아이디 중복검사 -->
    <select id="checkUserId" parameterType="String" resultType="String">
    	select mem_id from member where mem_id=#{mem_id}
    </select>
    
    
    <!-- 저장하기 -->
    <insert id="uploadUser" parameterType="memVo">
    	insert into member(mem_id, mem_name, mem_bir, mem_pass, mem_hp, mem_mail, mem_zip, mem_add1, mem_add2)
    	values(#{mem_id}, #{mem_name}, #{mem_bir}, #{mem_pass}, #{mem_hp}, #{mem_mail}, #{mem_zip}, #{mem_add1}, #{mem_add2})
    </insert>
    
    
    <!-- 우편번호 검색하기 -->
    <select id="searchZip" parameterType="String" resultType="zipVo">
    	select * from ziptb where dong like #{dong}||'%'
    </select>
 
 
</mapper>


